<article id="<%= r_css(result) %>">
  <span id="<%= r_css(result, :title) %>">
    <h2>
      <a href="/url?w=<%= result.id %>">
        <%= output_result(result.title, @query) %>
      </a>
    </h2>
  </span>
  <span id="<%= r_css(result, :url) %>">
    <h3>
      <%= output_result(result.url, @query) %>
    </h3>
  </span>
  <span id="<%= r_css(result, :description) %>">
    <h4>
      <%= output_result(result.description, @query) %>
    </h4>
  </span>
  <h5>
    Rank: <%= result.rank.round(2) %>
  </h5>
</article>
