<article id="<%= r_css(result) %>">
  <span id="<%= r_css(result, :title) %>">
    <h2>
      <a href="<%= result.url %>">
        <%= output_result(result.title, @query) %>
      </a>
    </h2>
  </span>
  <span id="<%= r_css(result, :url) %>">
    <h3>
      <%= output_result(result.url, @query) %>
    </h3>
  </span>
  <span id="<%= r_css(result, :description) %>">
    <h4>
      <%= output_result(result.description.strip[0...110], @query) %><%= ellipsis(result.description) %>
    </h4>
  </span>
  <h5>
    Rank: <%= result.rank %>
  </h5>
</article>
