<header>
  <h1><a href="/">varys</a></h1><%=erb :'partials/_search_box' %>
</header>

<div id='stats'>
  <%= @results.length %>
  <%= pluralise('result', @results.length) %>
  in <%= Time.now - @now %> seconds
</div>

<% if @results.length > 0 %>
  <div id='results'>
    <% @results.each do |result| %>
      <%= erb :'partials/_result', locals: { result: result } %>
    <% end %>

    <div id="pages">
      <% get_pages_wrapper(@query, @start).each do |i| %>
        <a href="/results?q=<%= @query %>&start=<%= get_start_number(i) %>"><div class="page"><%= i %></div></a>
      <% end %>
    </div>
  </div>
<% end %>

<div id='widgets'>
  <%= erb :'partials/_wikipedia', locals: { wikipedia: @widgets[:wikipedia] } %>
</div>
