<header>
  <h1><a href="/">varys</a></h1><%=erb :'partials/_search_box' %>
</header>

<% if @results.length > 0 %>
  <div id='results'>
    <div id='stats'>
      <%= @count %>
      <%= pluralise('result', @count) %>
      in <%= Time.now - @now %> seconds
    </div>

    <% @results.each do |result| %>
      <%= erb :'partials/_result', locals: { result: result } %>
    <% end %>


  </div>
<% end %>

<div id='widgets'>

</div>
<script>
  $.get('/widgets?q=<%= @query %>', function(data) {
    $('#widgets').html(data)
  })
</script>
